@media screen and (max-width: 1310px) {
  .question-answers .question-answers-container .section-title::after {
    content: "";
  }
  .portfolio .portfolio-container .portfolio-cards #bow {
    right: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .paragraph-text {
    font-size: 14px;
    line-height: 19px;
  }
  .services .services-cotainer #dimond-img {
    display: none;
  }
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-container .menu-container .phone-number {
    margin-left: 85px;
    margin-right: 35px;
  }
  .main .main-container .main-description::after {
    left: 515px;
  }
  .reviews .reviews-container .reviews-carousel::after {
    content: "";
  }
  .blog {
    width: 95%;
  }
  .services .services-cotainer .services-cards-container #services-hearts {
    display: none;
  }
  .about-me .about-me-container .features-container {
    border: none;
    width: 644px;
    margin: 0 auto;
  }
  .about-me .about-me-container .features-container .feature-item {
    border: 1px solid #c1968f;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 15px;
    width: 292px;
    img {
      margin: 0 auto 20px auto;
    }
  }
  .about-me .about-me-container .features-container #feature-flower {
    bottom: 80px;
    right: 30px;
    order: 6;
  }
  div.features-container > div:nth-child(5) {
    order: 5;
  }
  .main .main-container .main-description::after {
    overflow: hidden;
    width: 95%;
  }
  .header-container .menu-container .menu .menu-item {
    margin: 0 15px;
  }
}
@media screen and (max-width: 1100px) {
  .header-container .menu-container .phone-number {
    margin-left: 57px;
  }
  .about-me .about-me-container .about-me-content-img img:last-child {
    display: none;
  }
  .about-me-content-img {
    position: relative;
    &::after {
      content: url("../images/hearts-tablet.png");
      position: absolute;
      top: -200px;
      right: 10px;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .question-answers {
    overflow: hidden;
  }
  .question-answers::after {
    right: -100px;
  }

  header .header-container .menu-container {
    order: 3;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  header .header-container {
    justify-content: space-between;
  }
  header .header-container .menu-container .phone-number {
    margin-right: 0;
  }
  header .header-container .menu-container .menu .menu-item:nth-child(1) {
    margin-left: 0;
  }
  .main .main-container .main-description {
    max-width: 535px;
    padding-bottom: 35px;
    padding-top: 67px;
  }
  .main .main-container .main-description .main-description-title {
    margin-bottom: 30px;
  }
  .main .main-container .main-description::after {
    left: 470px;
  }
  .oder-form-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  section.order > div > div > div > div.form-img > img {
    position: absolute;
    bottom: -90px;
    left: 0px;
    width: 250px;
  }
  .portfolio .portfolio-container .stock::after {
    left: 10px;
  }

  .reviews {
    width: 95%;
    margin: 0 auto;
  }
  .about-me .about-me-container .about-me-content-img img:last-child {
    z-index: -1;
  }
  .about-me .about-me-container .about-me-content #dancing-pair {
    z-index: -1;
  }
  .about-me .about-me-container .about-me-content-text {
    margin-right: 20px;
  }
  .portfolio .portfolio-container .stock .stock-text .stock-description {
    font-size: 16px;
    line-height: 22px;
    span {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .portfolio .portfolio-container .stock .stock-text {
    margin-right: 30px;
  }
  div.stock > div.stock-images img {
    width: 180px;
  }
  .portfolio .portfolio-container .stock {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio .portfolio-container .portfolio-cards #bow {
    right: -20px;
  }
  #features-title {
    display: block;
    margin-bottom: 0;
  }
  .about-me .about-me-container .features-container {
    padding-top: 40px;
  }
}
@media screen and (max-width: 920px) {
  .main .main-container .main-description {
    max-width: 400px;
    padding-right: 30px;
  }
  .main .main-container .main-description::after {
    width: 113%;
    left: 373px;
  }
  .about-me
    .about-me-container
    .about-me-content-text
    .paragraph-text:first-child {
    width: 346px;
  }
  div.about-me-content > div.about-me-content-img > img:nth-child(1) {
    width: 348px;
  }
  .about-me .about-me-container .about-me-content #dancing-pair {
    width: 235px;
    top: 170px;
  }
  .reviews .reviews-container .reviews-carousel .carousel-item .review-text {
    padding: 40px;
  }
  .reviews .reviews-container .reviews-carousel .carousel-item .review-flowers {
    width: 168px;
  }
  div.reviews-stock > div > p {
    max-width: 358px;
  }
  .reviews .reviews-container .reviews-stock::after {
    left: 10px;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
}
